.nav{
    display: flex;
    justify-content:center;
    justify-content:space-around;
    text-align:center;
    
}
body{

    background-color:#7887a9;
    margin-left: 300px;
    margin-right:300px;
    
    
}
.nav-item{
    text-decoration:none;
    color: #7af0be;
    padding:5px;
    
}
.material-icons{
    color:white;

}

.menu{
    text-align:center;
}

h1{
    color:#282E3C ;
    display:flex;
    justify-content:center;
   font-family: 'Cinzel', serif;
   font-size:50px;
   
}

h2{
    color:white;
    font-size:30px;
    text-align:center;

}

h3{
    color:white;
}




 p{
    
     color:white;
     text-align:center;
     font-family: 'Playfair Display', serif;
     
 }
 
 img{
     width:300px;
     border:6px double white;
     display:block;
     margin-left:auto;
     margin-right:auto;

 }
 
 html{
     background-color:white ;
 }
 .code{
 text-align:center;
 }
 